<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 mt-8">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && createAuthor()" novalidate>
        <div *ngIf="successAlert" class="alert alert-success  text-center">
          {{alertMessage}}
        </div>
        <div *ngIf="errorAlert" class="alert alert-info text-center">
          {{alertMessage}}
        </div>
        <div *ngIf="alreadyAlert" class="alert alert-info text-center">
          {{alertMessage}}
        </div>
        <div class="form-group col-md-12" [ngClass]="{'has-error':f.submitted &&!name.valid}">
          <label>name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required>
          <div *ngIf="f.submitted && !name.valid" class="help-block">name is required</div>
        </div>

        <div class="form-group col-md-12" [ngClass]="{'has-error':f.submitted &&!email.valid}">
          <label>email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required>
          <div *ngIf="f.submitted && !email.valid" class="help-block">email is required</div>
        </div>

        <div class="form-group col-md-12" [ngClass]="{'has-error':f.submitted &&!mobile.valid}">
          <label>mobile</label>
          <input type="text" class="form-control" name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" required>
          <div *ngIf="f.submitted && !mobile.valid" class="help-block">mobile is required</div>
        </div>

        <div class="form-group mt-20 text-center">
          <button class="btn btn-primary" type="submit">Submit</button>
          <button class="btn btn-primary" [routerLink]="['/authors']">cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>