<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li>
					<a routerLink="/dashboard">Dashboard</a>
				</li>
				<li class="active">Authors</li>
			</ol>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div *ngIf="successAlert" class="alert alert-success  text-center col-md-8 col-md-offset-2">
				{{alertMessage}}
			</div>
			<div *ngIf="errorAlert" class="alert alert-info text-center col-md-8 col-md-offset-2">
				{{alertMessage}}
			</div>
			
			<div class="text-right">
				<button [routerLink]="['/createAuthors']" class="btn btn-primary">Create Author</button>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						
						<th>Name</th>
						<th>Mobile</th>
						<th>Email</th>
						<th>Actions</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let author of authors">
						
						<td>
							<a routerLink="">{{author.name}}</a>
						</td>
						<td>{{author.mobile}}</td>
						<td>{{author.email}}</td>
						<td>
							<button class="btn btn-danger" (click)="deleteAuthorById(author._id)">Delete</button>
							<a class="btn btn-primary" [routerLink]="['/updateAuthor',author._id]">Edit</a>
						</td>
					</tr>

				</tbody>

			</table>
		</div>
	</div>
</div>