<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 mt-8">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && createBlog()" novalidate>

        <div class="form-group col-md-12" [ngClass]="{'has-error':f.submitted &&!name.valid}">
          <label>name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required>
          <div *ngIf="f.submitted && !name.valid" class="help-block">name is required</div>
        </div>

        <div class="form-group col-md-12" [ngClass]="{'has-error':f.submitted &&!title.valid}">
          <label>title</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required>
          <div *ngIf="f.submitted && !title.valid" class="help-block">title is required</div>
        </div>

        <div class="form-group col-md-12" [ngClass]="{'has-error':f.submitted &&!subtitle.valid}">
          <label>subtitle</label>
          <input type="text" class="form-control" name="subtitle" [(ngModel)]="model.subtitle" #subtitle="ngModel" required>
          <div *ngIf="f.submitted && !subtitle.valid" class="help-block">subtitle is required</div>
        </div>

        <div class="form-group col-md-12" [ngClass]="{'has-error':f.submitted &&!content.valid}">
          <label>content</label>
          <input type="text" class="form-control" name="content" [(ngModel)]="model.content" #content="ngModel" required>
          <div *ngIf="f.submitted && !content.valid" class="help-block">content is required</div>
        </div>

        <div class="form-group mt-20 text-center">
          <button class="btn btn-primary" type="submit">Submit</button>
          <button class="btn btn-primary" [routerLink]="['/blogs']">cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>